<?xml version="1.0" encoding="UTF-8"?>

<widget
	xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.varemenos.docfinder"
	version = "0.1.6"
>

	<name>docFinder</name>
	<description>A documentation searching service by AKLP.gr Projects and Adonis K.</description>
	<author href="http://varemenos.com" email="aklp08@gmail.com">Adonis K.</author>


	<gap:platform name="android" />

	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="3.0.0" />
	<preference name="orientation" value="default" />
	<preference name="target-device"  value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="android-minSdkVersion" value="9" />
	<preference name="android-targetSdkVersion" value="14" />
	<preference name="android-installLocation" value="auto" />

	<icon src="icon.png" />

	<icon src="assets/img/images/drawable-mdpi/icon.png"   gap:platform="android"    gap:density="mdpi" />
	<icon src="assets/img/images/drawable-hdpi/icon.png"   gap:platform="android"    gap:density="hdpi" />
	<icon src="assets/img/images/drawable-xhdpi/icon.png"  gap:platform="android"    gap:density="xhdpi" />
	<icon src="assets/img/images/drawable-xxhdpi/icon.png"  gap:platform="android"    gap:density="xxhdpi" />


	<!-- disable splash for now
	<gap:splash src="splash.png" />

	<gap:splash src="assets/img/splash/drawable-ldpi/splash.png"  gap:platform="android" gap:density="ldpi" />
	<gap:splash src="assets/img/splash/drawable-mdpi/splash.png"  gap:platform="android" gap:density="mdpi" />
	<gap:splash src="assets/img/splash/drawable-hdpi/splash.png"  gap:platform="android" gap:density="hdpi" />
	<gap:splash src="assets/img/splash/drawable-xhdpi/splash.png" gap:platform="android" gap:density="xhdpi" />
	-->

	<access origin="*" />
</widget>
