@import 'lib/generic/_base';
@import 'lib/modules/_grid';

@include grid(12, 1rem);

$main-color: #48c2be;
$main-color-inv: #fff;
$bgc: #eef3f3;
$font-color: #aaa;

body{
	color: $font-color;
	font-weight: bold;
	background-color: $bgc;
	hyphens: auto;
}

#container{
	padding-bottom: 3.5rem;
}

header{
	padding: 1rem;
	color: $main-color-inv;
	background-color: $main-color;
	border-bottom: 1px solid darken($main-color, 7.5%);

	h1{
		margin: 0;
		text-align: center;
		color: $main-color-inv;

		a,
		a:visited{
			text-decoration: none;
			color: $main-color-inv;
		}
	}
}

form{
	margin: 0;
	padding: 1rem;
	color: $main-color;
	background-color: $main-color-inv;
	border-bottom: 1px solid darken($main-color-inv, 10%);

	fieldset{
		padding: 0;
		border: none;

		input,
		select,
		button{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			box-sizing: border-box !important;
			-moz-box-sizing: border-box !important;
			display: block;
			width: 100%;
			margin: 0;
			padding: 0.5rem;
			color: $main-color-inv;
			background-color: $main-color;
			border: none;
			border-radius: 0;

			&:focus{
				outline: 5px solid lighten($main-color, 15%);
			}

			&:disabled{
				color: darken($main-color-inv, 15%);
				// background-color: lighten($main-color, 25%);
			}
		}

		#query{
			margin-bottom: 1rem;
		}

		button{
			color: $main-color-inv;
		}

		::-webkit-input-placeholder{
			color: $main-color-inv;
		}
	}
}

#info{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1rem 1rem 0 1rem;

	h3{
		margin: 0;
	}
}

#results{
	padding: 0 1rem;

	h3{
		margin: 1rem 0 0 0;
	}

	.result{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		word-wrap: break-word;
		word-break: break-all;
		margin: 1rem 0;
		padding: 1rem;
		background-color: $main-color-inv;
		border: 1px solid darken($main-color-inv, 10%);

		.label{
			margin-left: 0.5rem;
			padding: 0.25rem;
			word-break: initial;
			word-wrap: initial;
			vertical-align: middle;
			font-size: 0.6rem;
			color: $main-color-inv;
			background-color: $main-color;
			border-radius: 1rem;
		}

		h3{
			margin: 0;
		}

		.resultLink{
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
		}

		p{
			margin-bottom: 0;
			font-weight: normal;

			&:empty{
				margin-top: 0;
			}
		}

		.description{
			margin-top: 0;
		}

		a,
		a:visited{
			color: darken($font-color, 15%);
		}

		hr{
			border-top: 1px solid darken($main-color-inv, 10%);
			border-left: none;
			border-bottom: none;
			border-right: none;
		}
	}
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $main-color;
	border-top: 1px solid darken($main-color, 7.5%);

	p{
		margin: 0;
		padding: 1rem 0;
		text-align: center;
		color: $main-color-inv;

		a,
		a:visited{
			color: $main-color-inv;
		}
	}
}
